@import url("https://fonts.googleapis.com/css?family=Poppins:100i,200,300,300i,400,500,600,700,800,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin-top: 0px;
  font-style: normal;
  font-weight: 500;
  text-transform: normal;
}

p {
  font-family: "Poppins", sans-serif;
  color: #011627;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 15px;
  font-weight: normal;
}

a:hover,
a:focus {
  color: #fff;
  text-decoration: none;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
  outline: 0;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text-primary {
  color: #3e9ffd !important;
}

.text-secondary {
  color: #011627 !important;
}

.bg-primary {
  background-color: #3e9ffd !important;
}

.bg-secondary {
  background-color: #011627 !important;
}

.main-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
  padding: 11px 0;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .main-header .main-menu {
    margin-right: 30px;
  }
}
.main-header .main-menu li {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.main-header .main-menu li.active a {
  color: #3e9ffd;
}
.main-header .main-menu li.active a:hover {
  color: #3e9ffd;
}
.main-header .main-menu li a {
  color: #fff;
  font-weight: 400;
  padding: 39px 19px;
  font-weight: 400;
  display: block;
  font-size: 16px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  text-transform: capitalize;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-header .main-menu li a {
    padding: 39px 15px;
  }
}
.main-header .main-menu li:hover a {
  color: #3e9ffd;
}
.main-header .main-menu li:hover .submenu {
  visibility: visible;
  opacity: 1;
}
.main-header .main-menu ul.submenu {
  position: absolute;
  width: 200px;
  background-color: #fff;
  left: 0;
  top: 80%;
  visibility: hidden;
  text-align: left;
  opacity: 0;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
  padding: 17px 0;
  border-top: 5px solid #3e9ffd;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.main-header .main-menu ul.submenu li {
  margin-left: 7px;
  display: block;
}
.main-header .main-menu ul.submenu li a {
  padding: 6px 10px !important;
  font-size: 14px;
  color: #011627;
  text-transform: capitalize;
}
.main-header .main-menu ul.submenu li a:hover {
  color: #3e9ffd;
}

.btn-header {
  background-color: #3e9ffd;
  padding: 15px 12px;
  min-width: 120px;
  min-width: 120px;
  color: #fff;
  font-weight: 600;
  position: relative;
}
.btn-header:hover {
  color: #fff;
}

.theme-light .main-menu li {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.theme-light .main-menu li.active a {
  color: #3e9ffd;
  font-weight: 700;
}
.theme-light .main-menu li.active a:hover {
  color: #3e9ffd;
}
.theme-light .main-menu li.active ul.submenu a {
  padding: 6px 10px !important;
  font-size: 14px;
  color: #011627;
  text-transform: capitalize;
  font-weight: normal;
}
.theme-light .main-menu li.active ul.submenu a:hover {
  color: #3e9ffd;
}
.theme-light .main-menu li a {
  color: #011627;
  font-weight: 400;
  padding: 39px 19px;
  font-weight: 400;
  display: block;
  font-size: 16px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  text-transform: capitalize;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .theme-light .main-menu li a {
    padding: 39px 15px;
  }
}
.theme-light .main-menu li:hover > a {
  color: #3e9ffd;
}
.theme-light .main-menu .submenu {
  position: absolute;
  width: 200px;
  background-color: #fff;
  left: 0;
  top: 80%;
  visibility: hidden;
  text-align: left;
  opacity: 0;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
  padding: 17px 0;
  border-top: 5px solid #3e9ffd;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.theme-light .slicknav_menu .slicknav_icon-bar {
  background-color: #3e9ffd !important;
}

.header-area .slicknav_btn {
  top: -33px;
}

.mobile_menu {
  right: 0;
  top: -10px;
  width: 100%;
}

.slicknav_menu {
  background: transparent;
  margin-top: 5px !important;
}
.slicknav_menu .slicknav_nav {
  margin-top: 0;
}
.slicknav_menu .slicknav_nav a:hover {
  background: transparent;
  color: #424874;
}
.slicknav_menu .slicknav_icon-bar {
  background-color: #fff !important;
}

.sticky-bar {
  left: 0;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  z-index: 9999;
  -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  background: #fff;
}
.sticky-bar .main-menu li a {
  padding: 26px 20px;
  color: #033a68;
}
.sticky-bar .main-menu li.active a {
  color: #3e9ffd;
}
.sticky-bar .site-logo {
  content: url("../img/webfala-icon.png");
}
.sticky-bar .slicknav_menu .slicknav_icon-bar {
  background-color: #3e9ffd !important;
}

.site-logo {
  max-width: 50px;
}
@media (min-width: 768px) {
  .site-logo {
    max-width: 80px;
  }
}

.section-title {
  color: #011627;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.2rem;
}
@media (min-width: 768px) {
  .section-title {
    font-size: 3rem;
  }
}

.w-150 {
  width: 150px;
}
@media (min-width: 768px) {
  .w-150 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .site-logo {
    max-width: 80px;
  }
}
.con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  min-height: 700px;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .con {
    background-size: 100% 100%;
  }
}

.con::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  right: 0;
  bottom: 0;
}

.hero-content {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
  width: 1000px;
  margin: auto;
  height: 700px;
}
@media (min-width: 768px) {
  .hero-content h1 {
    font-size: 50px;
  }
}

.stats {
  padding: 30px;
}

@media (min-width: 768px) {
  .stats {
    padding: 80px;
  }
}
.about {
  margin-top: 90px;
}
@media (min-width: 768px) {
  .about {
    margin-top: 130px;
  }
  .about h1 {
    font-size: 50px;
  }
}

/*# sourceMappingURL=main.css.map */
