.count-down-area .count-down-wrapper .single-counter {
    padding: 44px 10px 44px 9px;
    margin-bottom: 30px;
}

.count-down-area .count-down-wrapper .single-counter svg {
    font-size: 53px;
    line-height: 1;
    margin: 0 auto;
    margin-bottom: 16px;
    display: block;
    font-weight: 600;
}

.count-down-area .count-down-wrapper .single-counter .counter {
    font-size: 24px;
    font-family: "Sen", sans-serif;
    line-height: 1;
    margin-bottom: 12px;
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
}

.count-down-area .count-down-wrapper .single-counter p {
    font-size: 20px;
    line-height: 1;
    margin: 0;
    padding: 0;
    font-weight: 600;
    display: inline-block;
    font-family: "Sen", sans-serif;
}
